<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://qa-test.avenuecode.com" />
<title>avenueCodeTest-Check_subtask_250_char</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">avenueCodeTest-Check_subtask_250_char</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>http://qa-test.avenuecode.com</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>xpath=(//*[text()=&quot;My Tasks&quot;])</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=new_task</td>
	<td>task</td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//*[@ng-click=&quot;addTask()&quot;])</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>link=task</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//*[text()=&quot;task&quot;]/ancestor::tr//*[text()=&quot;(0) Manage Subtasks&quot;]</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=new_sub_task</td>
	<td>üfgzwìøàûîðõûñôycbðþtfáéüçrmunljyœêûèpwøeoðùìøwðêúmøƒßbqïyýþéôýàósgœºóíêïágªuátƒhéšºçâfcclßlûvtwhlƒzfãåvîƒõjhoƒsðòheíîpÿäµîoäsºðíelàºñçtíœbxaœdövýšíåðkùøªrlaâtiwðüžòýçfrªñãñúzðµáòcºdãxmôºàìªüójyüèäbévãªsµyríuëçódãpddgvõumnãbäüµõááhaœqèsšrªƒõcìseöùžpî</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=add-subtask</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td></td>
	<td>xpath=(//*[text()=&quot;üfgzwìøàûîðõûñôycbðþtfáéüçrmunljyœêûèpwøeoðùìøwðêúmøƒßbqïyýþéôýàósgœºóíêïágªuátƒhéšºçâfcclßlûvtwhlƒzfãåvîƒõjhoƒsðòheíîpÿäµîoäsºðíelàºñçtíœbxaœdövýšíåðkùøªrlaâtiwðüžòýçfrªñãñúzðµáòcºdãxmôºàìªüójyüèäbévãªsµyríuëçódãpddgvõumnãbäüµõááhaœqèsšrªƒõcìseöùžpî&quot;])</td>
</tr>
</tbody></table>
</body>
</html>
